In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy as stats
from scipy.stats import t

## CONFIDENCE INTERVALS

#### EXERCISE 1. 

    What is the normal body temperature for healthy humans? A random sample of 130 healthy human body temperatures provided by Allen Shoemaker yielded 98.25 degrees and standard deviation 0.73 degrees. 

Give a 99% confidence interval for the average body temperature of healthy people.

In [12]:
n = 130
xbar = 98.25
s = 0.73
confidence = 0.99

In [11]:
stats.t.interval(alpha = 0.99, df = n, loc = xbar)

/var/folders/vn/78_516p12yj8_056vvsyj3v00000gn/T/ipykernel_8362/2528611765.py:1: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  stats.t.interval(alpha = 0.99, df = n, loc = xbar)

(95.63582276267266, 100.86417723732734)

In [17]:
t_crit = np.abs(t.ppf((1- confidence)/2,n))

In [19]:
(xbar-s*t_crit/np.sqrt(n), xbar+s*t_crit/np.sqrt(n))

(98.08262668697819, 98.41737331302181)

#### EXERCISE 2.

    The administrators for a hospital wished to estimate the average number of days required for inpatient treatment of patients between the ages of 25 and 34. A random sample of 500 hospital patients between these ages produced a mean and standard deviation equal to 5.4 and 3.1 days, respectively.


Construct a 95% confidence interval for the mean length of stay for the population of patients from which the sample was drawn.

In [20]:
ad_n = 500
ad_mean = 5.4
ad_std = 3.1

## HYPOTHESIS TESTING

#### EXERCISE 3. 
    
    The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [ ]:
pay_mean = 13.20
pay_std = 2.50

pay_n = 40
pay2_mean = 12.20

#### EXERCISE 4.
    
    Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [5]:
soils = pd.read_csv("soil - Sheet1.csv")
soils.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

#### EXERCISE 5. 
    
    The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). 
    World Bank Edstats.  2015 PISA Test Dataset

1. Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).

2. Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.

CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [7]:
pisa = pd.read_csv("2015 PISA Test - Sheet1.csv")
pisa.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375