___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">DA & DVwPY</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses and a successful hand-over is mandatory for getting certification for both courses. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then you will get a clean dataset for your analysis and pretictive modelling in Machine Learning Path. So you will have the chance to use all the skills you have already learned in the Data Analysis and Visualization courses.

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.

**``SPECIAL NOTE:``**  However, you are ``free to create your own style``. You do ``NOT`` have to stick to the steps above. Nevertheless, we, the DA & DV instructors, recommend you study each part separately to create a source notebook for your further studies. 

In order to build your Portfolio in terms of the GitHub account, you need to push your solution file up to your own repository.

Please after solving the task, commit your notebook to GitHub and submit its link to LMS page where the project is settled down.

**BE NOTED:** Please ``DO NOT FORGET`` to click the submit button.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

# PART- 1 `( Data Cleaning )`

In [1]:
import pandas as pd

In [2]:
df0 = pd.read_json("as24_cars.json")

In [3]:
df0.sample(10)

,make_model,short_description,make,model,location,price,Body type,Type,Doors,Country version,...,CO₂-efficiency,Fuel consumption (WLTP),CO₂-emissions (WLTP),Available from,Taxi or rental car,Availability,Last timing belt change,Electric Range (WLTP),Power consumption (WLTP),Battery Ownership
27439,Volvo P1800,Vehículo clásico. Radio Volvo original,\nVolvo\n,"[\n, P1800 ,\n]","28109 Alcobendas, ES","€ 38,000.-","[\n, Coupe, \n]","[\n, Used, \n]","[\n, 2, \n]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21750,Ford Mustang,GT Convertible Sportpaket Bluetooth Navi,\nFord\n,"[\n, Mustang ,\n]","Ebersberger Straße 59, 83022 Rosenheim, DE","€ 43,880.-","[\n, Convertible, \n]","[\n, Used, \n]","[\n, 2, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9031,Peugeot 308,praktischer Kombi GolfgrößeSW 130 e-THP Stop,\nPeugeot\n,"[\n, 308 ,\n]","30982 Pattensen, DE","€ 11,900.-","[\n, Station wagon, \n]","[\n, Used, \n]","[\n, 5, \n]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23783,Hyundai Getz,1.4 Leder Allwetter,\nHyundai\n,"[\n, Getz ,\n]","Roßlauer Str. 102, 06861 Dessau-Roßlau, DE","€ 2,770.-","[\n, Compact, \n]","[\n, Used, \n]","[\n, 2, \n]","[\n, Germany, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24694,Hyundai TUCSON,1.6 T-GDI Navi AAC SHZ Kam PDC VC,\nHyundai\n,"[\n, TUCSON ,\n]","Heinrich-Credner-Str. 4, 99087 Erfurt, DE","€ 30,990.-","[\n, Off-Road/Pick-up, \n]","[\n, Pre-registered, \n]","[\n, 5, \n]","[\n, Austria, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13163,SEAT Leon,ST 2.0 TSI S&S Cupra DSG 300,\nSEAT\n,"[\n, Leon ,\n]","C. Arroyo Totalán, 36, 29730 Rincón de la Vic...","€ 24,117.-","[\n, Station wagon, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6794,Renault Kadjar,Energy TCe Intens,\nRenault\n,"[\n, Kadjar ,\n]","Chaussée de Bruxelles 26, 1472 Vieux-Genappe...","€ 15,900.-","[\n, Sedan, \n]","[\n, Used, \n]","[\n, 5, \n]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22621,Ford Edge,2.0EcoBlue Titanium 4x4 Navi|ED|Sitzhzg,\nFord\n,"[\n, Edge ,\n]","Siemenstraße, 6, 63329 Egelsbach, DE","€ 35,880.-","[\n, Off-Road/Pick-up, \n]","[\n, Used, \n]","[\n, 4, \n]","[\n, Germany, \n]",...,Calculated on basis of measured CO₂-emissions ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23395,Ford Mondeo,SB 2.0 EcoBoost Titanium Aut. 240,\nFord\n,"[\n, Mondeo ,\n]","MARIA DIAZ DE HARO 14, 48013 BILBAO, ES","€ 22,500.-","[\n, Sedan, \n]","[\n, Used, \n]","[\n, 5, \n]","[\n, Spain, \n]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948,Mercedes-Benz E 220,d T-Modell 9G AMG MULTIBEAM 360-K BURMES.,\nMercedes-Benz\n,"[\n, E 220 ,\n]","Segelfliegerdamm 88, 12487 Berlin, DE","€ 35,900.-","[\n, Station wagon, \n]","[\n, Used, \n]","[\n, 4, \n]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns

Index(['make_model', 'short_description', 'make', 'model', 'location', 'price',
       'Body type', 'Type', 'Doors', 'Country version', 'Offer number',
       'Warranty', 'Mileage', 'First registration', 'Gearbox', 'Fuel type',
       'Colour', 'Paint', 'desc', 'seller', 'Seats', 'Power', 'Engine size',
       'Gears', 'CO₂-emissions', 'Manufacturer colour', 'Drivetrain',
       'Cylinders', 'Fuel consumption', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nSafety & Security\n', '\nExtras\n',
       'Empty weight', 'Model code', 'General inspection', 'Last service',
       'Full service history', 'Non-smoker vehicle', 'Emission class',
       'Emissions sticker', 'Upholstery colour', 'Upholstery',
       'Production date', 'Previous owner', 'Other fuel types',
       'Power consumption', 'Energy efficiency class', 'CO₂-efficiency',
       'Fuel consumption (WLTP)', 'CO₂-emissions (WLTP)', 'Available from',
       'Taxi or rental car', 'Availability', 'Last timing belt change',
       'Electric Range (WLTP)', 'Power consumption (WLTP)',
       'Battery Ownership'],
      dtype='object')

In [9]:
df.iloc[1]

make_model                                               Mercedes-Benz EQE 350
short_description                                                         350+
make                                                         \nMercedes-Benz\n
model                                                        [\n, EQE 350 ,\n]
location                          APARTADO DE CORREOS 1032,  26140 LOGROÑO, ES
price                                                               € 80,900.-
Body type                                                    [\n, Compact, \n]
Type                                                  [\n, Pre-registered, \n]
Doors                                                              [\n, 4, \n]
Country version                                                [\n, Spain, \n]
Offer number                                                 [\n, 7054863, \n]
Warranty                                                   [\n, 24 months, \n]
Mileage                                                               5,000 km
First registration                                                     06/2022
Gearbox                                                        [\nAutomatic\n]
Fuel type                                                             Electric
Colour                                                                     NaN
Paint                                                                      NaN
desc                         [ , Precio al contado: 88900 euros,  , AUTO OJ...
seller                                                                  Dealer
Seats                                                              [\n, 5, \n]
Power                                                    [\n215 kW (292 hp)\n]
Engine size                                                         [\n1 cc\n]
Gears                                                                  [\n9\n]
CO₂-emissions                                                   0 g/km (comb.)
Manufacturer colour                                            Negro Obsidiana
Drivetrain                                                                 NaN
Cylinders                                                                  NaN
Fuel consumption                                                           NaN
\nComfort & Convenience\n                                                  NaN
\nEntertainment & Media\n                                                  NaN
\nSafety & Security\n                                                      NaN
\nExtras\n                                                                 NaN
Empty weight                                                               NaN
Model code                                                                 NaN
General inspection                                                         NaN
Last service                                                               NaN
Full service history                                                       NaN
Non-smoker vehicle                                                         NaN
Emission class                                                             NaN
Emissions sticker                                                          NaN
Upholstery colour                                                          NaN
Upholstery                                                                 NaN
Production date                                                            NaN
Previous owner                                                             NaN
Other fuel types                                                           NaN
Power consumption                                                          NaN
Energy efficiency class                                                    NaN
CO₂-efficiency                                                             NaN
Fuel consumption (WLTP)                                                    NaN
CO₂-emissions (WLTP)                                                       NaN
Available from                                                             NaN
Taxi or rental car                                                         NaN
Availability                                                               NaN
Last timing belt change                                                    NaN
Electric Range (WLTP)                                                      NaN
Power consumption (WLTP)                                                   NaN
Battery Ownership                                                          NaN
Name: 1, dtype: object

In [10]:
import re

In [11]:
# 예시
a = 'as;ldfkjwelkfm;aiodjcalkdjflskde'

In [14]:
re.findall('[a-zA-Z]', a)

['a',
 's',
 'l',
 'd',
 'f',
 'k',
 'j',
 'w',
 'e',
 'l',
 'k',
 'f',
 'm',
 'a',
 'i',
 'o',
 'd',
 'j',
 'c',
 'a',
 'l',
 'k',
 'd',
 'j',
 'f',
 'l',
 's',
 'k',
 'd',
 'e']

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   make_model                28630 non-null  object
 1   short_description         28630 non-null  object
 2   make                      28630 non-null  object
 3   model                     28630 non-null  object
 4   location                  28630 non-null  object
 5   price                     28630 non-null  object
 6   Body type                 28630 non-null  object
 7   Type                      28630 non-null  object
 8   Doors                     28271 non-null  object
 9   Country version           16889 non-null  object
 10  Offer number              23100 non-null  object
 11  Warranty                  15784 non-null  object
 12  Mileage                   28629 non-null  object
 13  First registration        28628 non-null  object
 14  Gearbox                   28382 non-null  object
 15  Fuel type                 26843 non-null  object
 16  Colour                    26906 non-null  object
 17  Paint                     14495 non-null  object
 18  desc                      28047 non-null  object
 19  seller                    28630 non-null  object
 20  Seats                     25505 non-null  object
 21  Power                     28058 non-null  object
 22  Engine size               27227 non-null  object
 23  Gears                     18954 non-null  object
 24  CO₂-emissions             18594 non-null  object
 25  Manufacturer colour       21787 non-null  object
 26  Drivetrain                16893 non-null  object
 27  Cylinders                 18852 non-null  object
 28  Fuel consumption          23385 non-null  object
 29
Comfort & Convenience
   25433 non-null  object
 30
Entertainment & Media
   23644 non-null  object
 31
Safety & Security
       25415 non-null  object
 32
Extras
                  23480 non-null  object
 33  Empty weight              17758 non-null  object
 34  Model code                8367 non-null   object
 35  General inspection        12254 non-null  object
 36  Last service              2003 non-null   object
 37  Full service history      12565 non-null  object
 38  Non-smoker vehicle        11594 non-null  object
 39  Emission class            17859 non-null  object
 40  Emissions sticker         9414 non-null   object
 41  Upholstery colour         14569 non-null  object
 42  Upholstery                18610 non-null  object
 43  Production date           5908 non-null   float64
 44  Previous owner            14015 non-null  object
 45  Other fuel types          2313 non-null   object
 46  Power consumption         515 non-null    object
 47  Energy efficiency class   7804 non-null   object
 48  CO₂-efficiency            7804 non-null   object
 49  Fuel consumption (WLTP)   100 non-null    object
 50  CO₂-emissions (WLTP)      116 non-null    object
 51  Available from            393 non-null    object
 52  Taxi or rental car        422 non-null    object
 53  Availability              301 non-null    object
 54  Last timing belt change   572 non-null    object
 55  Electric Range (WLTP)     16 non-null     object
 56  Power consumption (WLTP)  16 non-null     object
 57  Battery Ownership         7 non-null      object
dtypes: float64(1), object(57)
memory usage: 13.0+ MB

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)